/* !!!!! Everything !!!!! */
*{
    font-family: 'Rokkitt', serif;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
/* !!!!!!!!!!!!!!!!!!!!! */


/* @@@@@ Nav Bar @@@@@*/
nav{
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.nav-items{
    display: inline-block;
    background-color: red;
    width: 100%;
    top: 0;
    margin-top: 0;
    text-align: center

}

li{
    list-style:disc;
    padding: 0.9375rem;
    border-radius: 1.875rem;
    color: white;
    display: inline-block;
}

.nav-item{
    margin: 1.25rem;
    font-size: 1.875rem;
}

a{
    text-decoration: none;
}

li:hover{
    color: blue;

}


/* @@@@@@@@@@@@@@@@@@@ */


/*##### Main Formatting ##### */
body{
    background-color: blue;    
}

main{
    margin-top: 9em;
}
/* ######################### */





/* !!!!!!!!!! Home Page Info !!!!!!!!!!*/



/* $$$$$ Welcome Image $$$$$ */
#opaque-pepsi-city{
    width: 100%;
    height: 37.5em;
    opacity: 0.3;
}

.opaque-container{
    display: block;
    margin: 8rem auto;
    background-color: white;
    padding: 0;
}

.welcome-text{
    background-color: white;
    position: absolute;
    top: 21.875rem;
    left: 0px;
    padding: 0;
    width: 100%;
    font-size: 2.5em;
    text-align: center;
}
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$*/


/* %%%%% About Us %%%%%*/
#city-gif{
    height: 50em;
    width: 50%;
    position: relative;
    left: 2em;
}

.city-intro{
    margin-top: 25em;
    margin-bottom: 15em;
}
.intro-text{
    font-size: 1.5rem;
    width: 30%;
    text-align: center;
    padding: 2rem;
    border: 0.1875em red solid;
    background-color: white;
    color: blue;
    position: absolute;
    top: 77rem;
    left: 70rem;
}
/* %%%%%%%%%%%%%%%%%%%% */


/* ^^^^^ Obama ^^^^^^ */
#obama{
    height: 45em;
    width: 40%;
    position: absolute;
    left: 62.5em;
    top: 150em;
}

.president-box{
    width: 100%;
    height: 43.75em;
    margin-bottom: 12.5em;
}

.about-obama{
    font-size: 1.5rem;
    width: 30%;
    text-align: center;
    padding: 2rem;
    border: 0.1875em red solid;
    background-color: white;
    color: blue;
    position: absolute;
    top: 155rem;
    left: 13rem;
}
/* ^^^^^^^^^^^^^^^^^^^ */

/* &&&&& Our Values &&&&& */
#logo-gif-overlay{
    position: relative;
    height: 400px;
    width: 400px;
    top: 200px;
    left: 1.3em;
}

#logo-gif{
    position: relative;
    z-index: 0.9;
    height: 25em;
    width: 25em;
    right: 24em;
    top: 12.5em;
}

#pepsi-police{
    position: absolute;
    height: 25em;
    width: 25em;
    right: 64.09em;
    top: 12.5em;
}

#pepsi-science{
    position: relative;
    height: 25em;
    width: 25.375em;
    top: 37.5em;
    right: 49.625em;
}

#pepsi-hat{
    position: relative;
    height: 25em;
    width: 25em;
    top: 37.5em;
    right: 49.9375em;

}

.values-text{
    font-size: 1.5rem;
    width: 43%;
    text-align: center;
    padding: 2rem;
    border: 0.1875em red solid;
    background-color: white;
    color: blue;
    position: absolute;
    left: 58rem;
    top: 14.375rem;
}

.values-box{
    height: 62.5em;
    width: 100%;
    position: absolute;
}

#values{
    color: blue;
    list-style-type: disc;
    display: flex;
}
/* &&&&&&&&&&&&&&&&&&&&&& */






/* !!!!!!!!!!! City History Content !!!!!!!!!!*/
#home-history{
    margin-top: 110em;

}

.history-welcome{
    font-size: 3rem;
    position: absolute;
    color: white;
    background-color: red;
    width: 100%;
    text-align: center;
}

.history-info{
    position: relative;
    font-size: 1.5rem;
    width: 40%;
    top: 10em;
    left: 22em;
    text-align: center;
    padding: 2rem;
    border: 0.1875em red solid;
    background-color: white;
    color: blue;
}

.history-text{
    position: relative;
    background-color: white;
    color: blue;
    width: 91%;
    top: 30em;
    left: 3.15em;
    padding: 2rem;
    text-align: justify;
    border: 0.5rem black solid;
    border-radius: 3%;
}

#section-header{
    text-align: center;
    font-size: 3rem;
}
/* !!!!!!!!!! Citizen Quiz !!!!!!!!!! */
.quiz-box{
    background-color: white;
    width: 95%;
    position: absolute;
    left: 3em;
    padding: 2rem;
}

#quiz-info{
    text-align: center;
    padding-bottom: 2rem;
}
