/* !!!!! Everything !!!!! */
*{
    font-family: 'Rokkitt', serif;
    margin: 0;
    padding: 0;
}

/* !!!!!!!!!!!!!!!!!!!!! */


/* @@@@@ Nav Bar @@@@@*/
nav{
    position: sticky;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.nav-items{
    display: inline-block;
    background-color: red;
    width: 100%;
    top: 0;
    margin-top: 0;
    text-align: center

}

li{
    list-style:disc;
    padding: 15px;
    border-radius: 30px;
    color: white;
    display: inline-block;
}

.nav-item{
    margin: 20px;
    font-size: 30px;
}

a{
    text-decoration: none;
}

li:hover{
    color: blue;

}


/* @@@@@@@@@@@@@@@@@@@ */


/*##### Main Formatting ##### */
body{
    background-color: blue;    
}

main{
    margin-top: 9em;
}
/* ######################### */


/* $$$$$ Welcome Image $$$$$ */
#opaque-pepsi-city{
    width: 100%;
    height: 600px;
    opacity: 0.3;
}

.opaque-container{
    display: block;
    margin: 8rem auto;
    background-color: white;
    padding: 0;
}

.welcome-text{
    background-color: white;
    position: absolute;
    top: 350px;
    left: 0px;
    padding: 0;
    width: 100%;
    font-size: 2.5em;
    text-align: center;
}
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$*/


/* %%%%% About Us %%%%%*/
#city-gif{
    height: 50em;
    width: 50%;
}

.city-intro{
    margin-top: 400px;
    margin-bottom: 400px;
}
.intro-text{
    width: 43%;
    text-align: center;
    padding: 1em;
    border: 3px red solid;
    background-color: white;
    color: blue;
    position: absolute;
    top: 1280px;
    left: 980px;
}
/* %%%%%%%%%%%%%%%%%%%% */


/* ^^^^^ Obama ^^^^^^ */
#obama{
    height: 45em;
    width: 40%;
    position: absolute;
    left: 1000px;
    top: 2400px;
}

.president-box{
    width: 100%;
    height: 700px;
    margin-bottom: 400px;
}

.about-obama{
    width: 43%;
    text-align: center;
    padding: 1em;
    border: 3px red solid;
    background-color: white;
    color: blue;
    position: absolute;
    top: 2450px;
    left: 50px;
}
/* ^^^^^^^^^^^^^^^^^^^ */

/* &&&&& Our Values &&&&& */
#logo-gif-overlay{
    position: relative;
    height: 400px;
    width: 400px;
    top: 200px;
}

#logo-gif{
    position: relative;
    z-index: 0.9;
    height: 400px;
    width: 400px;
    right: 400px;
    top: 200px;
}

#pepsi-police{
    position: absolute;
    height: 400px;
    width: 400px;
    right: 850px;
    top: 3759px;
}

#pepsi-science{
    position: absolute;
    height: 400px;
    width: 400px;
    top: 4159.5px;
    right: 1250px;
}

#pepsi-hat{
    position: absolute;
    height: 400px;
    width: 400px;
    top: 4159.5px;
    right: 850px;

}

#logo-gif:hover{
    opacity: 0;
}

.values-text{
    width: 43%;
    text-align: center;
    padding: 1em;
    border: 3px red solid;
    background-color: white;
    color: blue;
    position: absolute;
    left: 980px;
    top: 3780px;
}
/* &&&&&&&&&&&&&&&&&&&&&& */